.lado-lado{
    display: flex;
}

.principal{

    padding: 10%;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    text-align: left;
    background-color: rgb(214, 220, 233);
    border: 1px;

}
a {
    text-decoration: none; 
    color: inherit; 
}
  